.header-toolbar {
  background-color: #47E6C4;
  padding: 0 1rem;
  height: 72px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; // 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem; 
}

  
  .logo-section {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .logo-text {
    display: none;
  
    @media (min-width: 769px) {
      display: inline-block;
      margin-left: 0.5rem;
      font-weight: bold;
      color: #103056;
      font-size: 1.2rem;
    }
  }
  
.nav-links {
  display: none;

  &.show-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 72px; 
    right: 0;
    background-color: white;
    padding: 1rem;
    border: 1px solid #ccc;
    z-index: 999;
    gap: 1rem;

    a {
      color: #000;
      font-weight: 500;
    }
  }
}
.right-section {
  display: flex;
  align-items: center;
  gap: 40px; // 
}

  .desktop-buttons {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      gap: 16px;
    }
  }
    
  .desktop-btn {
    background-color: #103056;
    color: #F6F6F6;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 16px;
    width: 162px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  
    img {
      width: 20px;
      height: 20px;
    }
  
    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
  

  .mobile-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
    button {
      background-color: #F6F6F6;
      border: 1px solid black;
      border-radius: 6px;
      width: 40px;
      height: 40px;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  