<!-- Breadcrumb arriba del hero -->
<div class="breadcrumb-wrapper">
  <mat-icon class="home-icon">home</mat-icon>
  <span class="breadcrumb-text">
    HOME / <span class="breadcrumb-active">Lorem ipsum dolor sit amet</span>
  </span>
</div>


<section class="hero-wrapper">
  <!-- Hero principal con imagen y contenido -->
  <div class="hero-content">
    <p class="hero-subtitle">LOREM IPSUM DOLOR SIT AMET</p>
    <h1 class="hero-title">Consectetur Adipiscing Elit Posuere</h1>
    <p class="hero-description">
      Lorem ipsum dolor sit amet consectetur adipiscing elit posuere blandit quam, himenaeos eros nunc.
    </p>
    <button mat-raised-button color="primary" class="hero-button">
      Click Here
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>
</section>

<section class="cards-section">
  <h2 class="section-title">Aenean facilisis, enim eu bibendum sagittis</h2>
  
  <div class="cards-grid">
    <!-- Card 1 -->
    <div class="card">
      <img src="assets/images/img1.png" alt="Imagen 1" />
      <div class="card-overlay">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit posuere.</p>
        <button mat-stroked-button color="primary">
          Click Here <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card">
      <img src="assets/images/img2.jpeg" alt="Imagen 2" />
      <div class="card-overlay">
        <h3>Dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit posuere.</p>
        <button mat-stroked-button color="primary">
          Click Here <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="card">
      <img src="assets/images/img3.jpeg" alt="Imagen 3" />
      <div class="card-overlay">
        <h3>Consectetur adipiscing</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit posuere.</p>
        <button mat-stroked-button color="primary">
          Click Here <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>