<section class="info-section">
    <h2 class="info-title">Fusce ut massa non tellus rhoncus viverra eu in dui</h2>
  
    <div class="info-cards">
      <!-- Card 1 -->
      <div class="info-card">
        <div class="icon-wrapper">
          <mat-icon>school</mat-icon>
        </div>
        <h3>Lorem ipsum</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit posuere blandit quam, 
          himenaeos eros nunc tempus nisi volutpat integer odio vel, dapibus vitae taciti mus metus tincidunt eu vestibulum.
        </p>
        <button mat-raised-button class="card-button">
          <mat-icon>arrow_forward</mat-icon> Click Here
        </button>
      </div>
  
      <!-- Card 2 -->
      <div class="info-card">
        <div class="icon-wrapper">
          <mat-icon>sports_basketball</mat-icon>
        </div>
        <h3>Consectetur adipiscing</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit posuere blandit quam, 
          himenaeos eros nunc tempus nisi volutpat integer odio vel, dapibus vitae taciti mus metus tincidunt eu vestibulum.
        </p>
        <button mat-raised-button  class="card-button">
          <mat-icon>arrow_forward</mat-icon> Click Here
        </button>
      </div>
    </div>
  </section>
  